alvisae-ui/AlvisAE.shared/build
alvisae-ui/AlvisAE.shared/dist
alvisae-ws/target/classes
ontol-rws/target
*~
.classpath
.project
.settings
alvisae-utils/__pycache__
alvisae-utils/db.props
.idea/
remove_annotations.sql
